<html>
<head>
	<meta charset="utf-8">
	<title>五子棋</title>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="bookmark" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/gomoku/gomoku.css">
    <script src="../../static/javascript/jquery-3.1.1.js"></script>
    <script src="../../static/javascript/socket.io-1.4.5.js"></script>
</head>
<body>
<div class="chess">
	<div class="title">游戏规则：黑方先手，白方后手，双方轮流落子，先摆成五子连珠一方获胜</div>
	<div class="chess-bar">
		<div class="chess-line">
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-angle" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(90deg);"></div>
		</div>
	</div>
	<div class="operation-bar">
	</div>
</div>
<div class="control-bar">
	<input class="button" type="button" onclick="prepare()" value="Prepare">
	<input class="button" type="button" onclick="restart()" value="Restart">
</div>
<input id="text" type="text" maxlength="64">
<input id="send" type="submit" value="send" onclick="send()">
<h2>log:</h2>
<div id="log"></div>
<script type="text/javascript">
//游戏逻辑
//创建一个五子棋对象，并初始化
var chess=new Object();
//初始化本地用户
chess.user=prompt('What is your name?');
function initial(){
	//棋子的序号，描述落子的先后顺序
	chess.code=1;
	//对应image监听器
	chess.image='';
	//对应start监听器
	chess.start=0;
	//对应right监听器
	chess.right='';
	//对应coordinate监听器
	chess.coordinate=[];
	//对应result监听器
	chess.result='';
}
initial();
//建立websocket通讯客户端
var namespace='/';
var socket=io.connect(location.protocol+'//'+document.domain+':'+location.port+namespace);
//监听日志
socket.on('response',function(message){
	try{
		chessJson=JSON.parse(message['data']);
		if(chessJson.msg)
			log(chessJson.username+': '+chessJson.msg);
		return false;
	}
	catch(e){
		log(message['data']);
		return false;
	}
});
//监听棋子颜色
socket.on('image',function(message){
	chessJson0=JSON.parse(message['data']);
	chess.image=chessJson0.image;
});
//监听游戏开始
socket.on('start',function(message){
	chessJson1=JSON.parse(message['data']);
	chess.start=chessJson1.start
	log('Game start.');
});
//监听棋权
socket.on('right',function(message){
	chessJson2=JSON.parse(message['data']);
	chess.right=chessJson2.right;
	chess.image=chessJson2.image;
	log('It is '+chess.right+'\'s turn.');
});
//监听落子信息
socket.on('coordinate',function(message){
	chessJson3=JSON.parse(message['data']);
	chess.image=chessJson3.image;
	chess.coordinate=[chessJson3.x,chessJson3.y];
	log(chess.coordinate);
	getCell(chess.coordinate).style.backgroundImage='url('+chessJson3.image+')';
	getCell(chess.coordinate).innerHTML='<span class="code">'+chess.code.toString()+'</span>'
	getCell(chess.coordinate).children[0].style.color=(chess.code%2===1?'white':'grey');
	chess.code+=1;
});
//监听胜负信息
socket.on('result',function(message){
	chessJson4=JSON.parse(message['data']);
	chess.result=chessJson4.result;
	log('Winner is '+chess.result);
	chess.start=0;
	if(chess.result===chess.user){
		alert('Congratulations, you have won!');
	}
	else if (chess.result==='dogfall') {
		alert('Neither you win, nor lose.How about trying again?');
	}
	else {
		alert(chess.result+' has won.')
	}
});
//监听初始化
socket.on('clear',function chessClear(){
	initial();
	for(var i=0;i<15;i++){
		for(var j=0;i<15;j++){
			getCell([i,j])[0].style.backgroundImage='';
		}
	}
});
//获取元素坐标的函数
function getCoordinate(obj){
	var chessBar=document.querySelectorAll('.chess-line');
	var parentElement=obj.parentElement;
	var i=0,j=0;
	for (i = 0; obj; i++) {
		obj=obj.previousElementSibling;
	}
	for (j = 0; parentElement; j++) {
		parentElement=parentElement.previousElementSibling;
	}
	return [i-1,j-1];
}
//通过坐标获取元素的函数
function getCell(coordinate){
	var x=-1,y=-1;
	x=coordinate[0];
	y=coordinate[1];
	var chessBar=document.querySelectorAll('.chess-line');
	return chessBar[y].children[x];
}
//log生成函数
function log(msg) {
	document.getElementById('log').innerHTML='<p>'+msg+'</p>'+document.getElementById('log').innerHTML;
}
//准备消息
function prepare(){
	socket.emit('prepare',{data: chess.user});//jack
}
//发送落子消息
function play(obj){
	if(chess.start&&chess.right===chess.user){
		var coordinate=getCoordinate(obj);
		var chessJson=new Object();
		var chessData='';
		chessJson.user=chess.user;
		chessJson.image=chess.image;
		chessJson.x=coordinate[0];
		chessJson.y=coordinate[1];
		chessData=JSON.stringify(chessJson);
		socket.emit('chess',{data: chessData});//{'user':'jack','image':'../static/gomoku/black.png','x':6,'y':5}
	}
}
//聊天模块
//注册键盘事件
document.onkeydown = function(e) {
	//捕捉回车事件
	var ev = (typeof event!= 'undefined') ? window.event : e;
	if(ev.keyCode == 13) {
		send();
	}
}
function send() {
	if(!document.getElementById('text').value){
		alert('please enter something.');
		return false;
	}
	var msg='';
	msg=document.getElementById('text').value;
	var message=new Object();
	message.username=chess.user;
	message.msg=msg;
	data=JSON.stringify(message);
	socket.emit('message', {data: data});
	document.getElementById('text').value='';
};
//请求重来
function restart(){
	var varification=confirm('Do you really want to restart? This operation will not come into effect when you opponent refused.')
	if(varification){
		socket.emit('restart',{data:chess.user});
	}
}
//监听重来的消息
socket.on('restart',function(message){
	chessJson5=JSON.parse(message['data']);
	if (chessJson5.user!==chess.user) {
		var varification=confirm('Your opponent was meaning to restart the game, do you agree with him or her?');
		if (varification) {
			socket.emit('restartResponse',{data: 1});
		}
		else{
			socket.emit('restartResponse',{data: 0});
		}
	}
})
function getUser(){
	socket.emit('getUser');
}
function getVariable(){
	socket.emit('getVariable');
}
</script>
</body>
</html>