<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>煎饼师傅</title>
	<link rel="stylesheet" type="text/css" href="../static/index/index.css">
	<script src="../static/javascript/jquery-3.1.1.js"></script>
</head>
<body>
<div class="top-bar">
	<span id="title">煎饼师傅的网站</span>
	<div id="menu"></div>
	<div id="search">
		<div id="search-icon"></div>
	</div>
</div>
<div class="top-bar-menu"></div>
<div class="background">
	<div class="first-bar"></div>
</div>
<div class="buttom-bar"></div>
<script type="text/javascript">
$('#menu').click(function(){
	$('.top-bar-menu').slideToggle('slow');
})
</script>
</body>
</html>