<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>詹聪聪的个人网站</title>
	<link rel="stylesheet" type="text/css" href="../static/index/index.css">
	<script src="../static/javascript/jquery-3.1.1.js"></script>
</head>
<body>
<div class="background">
	<div class="top-bar">
		<h1 id="title">詹聪聪的个人网站</h1>
		<div id="menu"></div>
		<div class="top-bar-menu"></div>
	</div>
	<div class="first-bar"></div>
</div>
<div class="buttom-bar"></div>
<script type="text/javascript">
$('#menu').click(function(){
	$('.top-bar-menu').slideToggle('slow');
})
</script>
</body>
</html>