.background{
	background-image: url(camera.jpg);
}
.top-bar{
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    min-height: 80px;
    background-color: #010517;
    border: 1px solid #333;
}
.top-bar-menu{
	position: relative;
	top: 0px;
	left: 0px;
	width: auto;
	min-height: 180px;
	background-color: #33373c;
	border: 1px solid #333;
	display: none;
	opacity: 1;
}
#title{
    font-family: "微软雅黑";
    line-height: 80px;
    position: relative;
    color: #f3c088;
    font-size: 36px;
    left: 20px;
}
#menu{
	position: relative;
	top: 5px;
	right: 5px;
	float: right;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
}
.first-bar{
	position: relative;
	top: 0px;
	right: 0px;
	width: auto;
	height: 800px;
	border: 1px solid #333;
	background-color: #dfdfdf; 
	opacity: 0.2;
}
.buttom-bar{
	position: relative;
	top: 0px;
	right: 0px;
	width: auto;
	height: 50px;
	border: 1px solid #333;
	background-color: #393939;
	opacity: 1;
}