.background{
	background-image: url(camera.jpg);
}
.top-bar{
	position: relative;
	top: 0px;
	left: 0px;
	width: auto;
	min-height: 80px;
	background-color: #393939;
	border: 1px solid #333;
	color: white;
	opacity: 0.8;
}
.top-bar-menu{
	position: relative;
	top: 80px;
	left: 0px;
	width: auto;
	min-height: 180px;
	background-color: #999999;
	border: 1px solid #333;
	display: none;
	opacity: 0.9;
}
#title{
	float: left;
	opacity: 1;
}
#menu{
	position: relative;
	top: 5px;
	right: 5px;
	float: right;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	opacity: 0.9;
}
.first-bar{
	position: relative;
	top: 0px;
	right: 0px;
	width: auto;
	height: 800px;
	border: 1px solid #333;
	background-color: #dfdfdf; 
	opacity: 0.5;
}
.buttom-bar{
	position: relative;
	top: 0px;
	right: 0px;
	width: auto;
	height: 50px;
	border: 1px solid #333;
	background-color: #393939;
	opacity: 1;
}