<html>
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<title>Henry</title>
	<link rel="shortcut icon" href="../static/gomoku/favicon.ico" type="image/x-icon">
	<link rel="bookmark" href="../static/gomoku/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/gomoku/gomoku.css">
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/socket.io/1.6.0/socket.io.min.js"></script>
</head>
<body>
<div class="chess">
	<div class="title">
		<div id="player1"></div>
		<div id="player2"></div>
	</div>
	<div class="chess-bar">
		<div class="chess-line">
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(-90deg);"></div>
			<div class="chess-angle" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-cell" onclick="play(this)"></div>
			<div class="chess-edge" onclick="play(this)"></div>
		</div>
		<div class="chess-line">
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(180deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-edge" onclick="play(this)" style="transform: rotate(90deg);"></div>
			<div class="chess-angle" onclick="play(this)" style="transform: rotate(90deg);"></div>
		</div>
	</div>
	<div class="operation-bar">
	</div>
</div>
<div class="control-bar">
	<input class="button" type="button" onclick="prepare()" value="游戏准备">
	<input class="button" type="button" onclick="restart()" value="再来一局">
</div>
<input id="text" type="text" maxlength="64">
<input id="send" type="submit" value="发送" onclick="send()">
<div>
	<h1>会话：</h1>
	<p onclick="gameHelp()" class="right-button">游戏规则</p>
	<div id="gameHelp">黑方先手，白方后手，双方轮流落子，先摆成五子连珠一方获胜</div>
</div>
<div id="log"></div>
<script type="text/javascript" src="../static/henry/henry.js"></script>
<script type="text/javascript" src="../static/gomoku/gomoku_socketio.js"></script>
</body>
</html>